<h1>Ruby to FileMaker Pro XML</h1>

Enter some text below.
<p>
Click submit to see a Rot13 version in FileMaker XML format.

<form action="/rot13" method="POST"><input type="hidden" name="_method" value="post" />

<textarea id="my_string" name="my_string">Ur'f n tubfg</textarea>

<input id="button_submit" name="submit" type="submit" value="Submit" />
